body {
  font-family: "Open Sans", sans-serif; 
  position: relative;   
}

h2 { 
  margin-top: -65px; 
  padding-top: 65px; 
  display: inline-block;
}

h2,h4{
  color: #F66B27;
  font-family: "Poppins", sans-serif; 
}



.container .navbar-brand {
  font-family: "Satisfy", sans-serif; 
  font-size: 28px;
  color: white;
}

#losFrijolitos .nav-link {
  font-family: "Poppins", sans-serif; 
  font-size: 15px;  
}


a.btn.btn-link {
  color:white;
  font-size: 1em; 
}

.card-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-header button {  
  border: none;
  text-decoration: none;
  color: #F66B27;
}

.card-header button:hover {
  color: #F66B27;
  border: none;
  text-decoration: none;
}

.card-header button:focus {
  color: #F66B27;
  border: none;
  text-decoration: none;
  box-shadow: none;
}

.card-body ul {
  color: white;
}

form .btn {
  background-color: #F66B27;
  font-family: "Poppins", sans-serif; 
}

